/* make sure to add styles for when the page is less than 50% width */


/* general page styles */

body {
    margin: 0;
    padding: 0;
    overflow: scroll;
    
    color: black;
}

::-webkit-scrollbar {
    display: none;
}



/* div styles */

#title {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    
    text-shadow: 1px 3px 9px rgba(150, 150, 150, 1);
    text-align: center; 
    line-height: 0;
    font-family: 'Lobster', 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 60px;
}

#description {
    width: 73%;
    height: 100px;
    position: relative;
    top: 170px;
    margin: auto;
    
    font-style: italic;
    font-size: 20px;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    text-align: center;
}

#airport {
    width: 37%;
    height: 140px;
    position: relative;
    top: 180px;
    margin: auto;
    
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    
    cursor: pointer;
}

#date {
    width: 60%;
    height: 50px;
    position: relative;
    top: 210px;
    margin: auto;
    
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    text-shadow: 1px 3px 9px rgba(150, 150, 150, 1);
        
    cursor: pointer;
}

#letsbuggy {
    width: 100%;
    height: 100px;
    position: relative;
    top: 260px;
    margin: auto;
    text-align: center;
    
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
        
    cursor: pointer;
}

/* image styles */

img {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
}

#toycar1 {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 700px;
    margin: auto;
}

#toycar2 {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 1300px;
    margin: auto;
}



/* button styles */

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.airportbtn {
    border-radius: 6px;
    padding: 45px 60px 45px 60px;
    border: solid #000000 2px;
    font-size: 25px;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

.airportbtn:hover {
    background-color: grey;
    opacity: 0.4;
}

.airportbtn:active {
    /* must be same as hover. not working yet */
    background-color: grey;
    opacity: 0.4;
}

.datebtn {
    border-radius: 6px;
    padding: 20px 17px 20px 17px;
    border: solid #000000 2px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.datebtn:hover {
    background-color: grey;
    opacity: 0.4;
}

.datebtn:active {
    /* must be same as hover. not working yet */
    background-color: grey;
    opacity: 0.4;
}

.nextbtn {
    font-size: 25px;
}

.nextbtn:hover {
    font-weight: 900;
}

.nextbtn:active {
    /* must be same as hover. not working yet */
}



/* miscelanious */

#O {
    float: left;
    text-shadow: 1px 3px 9px rgba(150, 150, 150, 1);
}

#M {
    float: right;
    text-shadow: 1px 3px 9px rgba(150, 150, 150, 1);
}

hr {
    border: 0;
    color: black;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}



